@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
      font-family:'android' ;
      src: url('../fontes/idroid.otf') format('opentype');
      font-weight: normal;
}

* {
      margin: 0px;
      padding: 0px;
}

:root {
      --cor0:#ebe5c5;
      --cor1:#83e1ad;
      --cor2:#3ddc84;
      --cor3:#2fa866;
      --cor4:#1a5c37;
      --cor5:#063d1e;

      --fonte-padrao: arial, verdana, helvetica, sans-serif;
      --fonte-destaque: 'Bebas Neue', cursive;
      --fonte-android: 'android', cursive;
}
.externo::after {
      content:  "\00A0\00A0\1F517";
}

div.video {
      background-color: var(--cor5);
      margin: 0px -10px 30px -10px;
      padding: 20px;
      padding-bottom: 57%;
      position: relative;
}

div.video > iframe {
      position:absolute;
      top: 5%;
      left: 5%;
      width: 90%;
      height: 90%;
}

body {
      background-color: var(--cor0);
      font-family: var(--fonte-padrao);
}

header {
      background-image:linear-gradient(to bottom, var(--cor3), var(--cor5));
      min-height: 150px;
      text-align: center;
      padding-top: 30px;
}

header > h1 {
      color:white;
      font-family: var(--fonte-destaque);
      font-weight: normal;
      margin-bottom: 25px;
      font-size: 3em;
      text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.329);
}

header > p {
      color: white;
      font-family: var(--fonte-padrao);
      font-weight: normal;
      font-size: 1.2em;
      max-width: 500px;
      margin: auto;
      padding-left: 10px;
      padding-right: 10px;
      text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
      padding-bottom: 25px;
}

nav {
      background-color: var(--cor5);
      padding: 10px;
      box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.233);
      text-align: left;
      
}


nav a {
      text-decoration: none;
      color:var(--cor1);
      font-weight: bold;
      padding: 20px 10px;
}

nav a:hover {
      background-color: #1a5c37;
      border-radius: 5px;
      transition-duration: 0.7s;
}

main {
      background-color: white;
      max-width: 800px;
      min-width: 300px;
      margin: auto;
      padding: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);
      border-bottom-left-radius:10px;
      border-bottom-right-radius:10px; 
      margin-bottom: 30px;
}

main  img {
      width: 100%;
}

.pequena {
      max-width: 350px;
      display: block;
      margin: auto;
}

main  h1 {
      color: var(--cor5);
      font-family: var(--fonte-android);
      font-weight: normal;
      font-size: 1.8em;
}

main h2 {
      font-family: var(--fonte-android);
      font-weight: normal;
      color: var(--cor4);
      background-image: linear-gradient(to right, var(--cor1), transparent);
}

main p {
      font-size: 1em;
      text-align: justify;
      text-indent: 30px;
      line-height: 1.5em;
      margin: 15px 0px;
}

main strong {
      color: var(--cor4);
      font-weight: bold;
}

main a {
      text-decoration: none;
      color: var(--cor5);
      background-color: var(--cor1);
      padding: 2px 6px;
}

main a:hover {
      color: var(--cor4);
      text-decoration: underline;
      
}

aside {
      background-color: var(--cor1);
      border-radius: 10px;
      padding: 15px;
      box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.404);
}

aside ul {
      list-style-position: inside;
      list-style-type:"\00A0\00A0\2714";
      columns: 2;

}

aside h3 {
      color: white;
      background-color: var(--cor5);
      margin: -15px;
      padding: 10px;
      border-radius: 10px 10px 0px 0px;
}




footer {
      background-color: var(--cor5);
      color: white;
      text-align: center;
      padding: 10px;
}

footer a {
      text-decoration: none;
      color: var(--cor2);
}

footer a:hover {
      text-decoration: underline;
      color: var(--cor1);
}